In [1]:
#importing the libraries
import pandas as pd
import sqlite3 as sql


#opening the connection to the database 
conn = sql.connect('chinook.db')

In [2]:
#checking the database content
query1 = "SELECT * FROM sqlite_master WHERE type='table'"
dataframe1 = pd.read_sql_query(query1, conn)
print(dataframe1)

     type             name         tbl_name  rootpage  \
0   table           albums           albums         2
1   table  sqlite_sequence  sqlite_sequence         3
2   table          artists          artists         4
3   table        customers        customers         5
4   table        employees        employees         8
5   table           genres           genres        10
6   table         invoices         invoices        11
7   table    invoice_items    invoice_items        13
8   table      media_types      media_types        15
9   table        playlists        playlists        16
10  table   playlist_track   playlist_track        17
11  table           tracks           tracks        20
12  table     sqlite_stat1     sqlite_stat1       864

                                                  sql
0   CREATE TABLE "albums"\r\n(\r\n    [AlbumId] IN...
1              CREATE TABLE sqlite_sequence(name,seq)
2   CREATE TABLE "artists"\r\n(\r\n    [ArtistId] ...
3   CREATE TABLE "customers"\r\n(\r\n    [Customer...
4   CREATE TABLE "employees"\r\n(\r\n    [Employee...
5   CREATE TABLE "genres"\r\n(\r\n    [GenreId] IN...
6   CREATE TABLE "invoices"\r\n(\r\n    [InvoiceId...
7   CREATE TABLE "invoice_items"\r\n(\r\n    [Invo...
8   CREATE TABLE "media_types"\r\n(\r\n    [MediaT...
9   CREATE TABLE "playlists"\r\n(\r\n    [Playlist...
10  CREATE TABLE "playlist_track"\r\n(\r\n    [Pla...
11  CREATE TABLE "tracks"\r\n(\r\n    [TrackId] IN...
12            CREATE TABLE sqlite_stat1(tbl,idx,stat)

### 1-How many customers are there that are not residing in the US

In [7]:
query2 = "SELECT count(*) as count FROM customers where country!= 'USA' "
dataframe2 = pd.read_sql_query(query2, conn)
print(dataframe2)

   count
0     46

### 2-Show all customers that are from Brazil. How Brazilian customers are there

In [9]:
query3 = "SELECT * from customers where country = 'Brazil'"
dataframe3 = pd.read_sql_query(query3, conn)
len(dataframe3.index)

5

### 3-Show Invoices of customers who are from the US. The resultant table should show the customer's full name, Invoice ID, Date of the invoice and billing country

In [10]:
query4 = "SELECT * from customers where country = 'Brazil'"
dataframe4 = pd.read_sql_query(query4, conn)
print(dataframe4)

   CustomerId  FirstName   LastName  \
0           1       Luís  Gonçalves
1          10    Eduardo    Martins
2          11  Alexandre      Rocha
3          12    Roberto    Almeida
4          13   Fernanda      Ramos

                                            Company  \
0  Embraer - Empresa Brasileira de Aeronáutica S.A.
1                                  Woodstock Discos
2                              Banco do Brasil S.A.
3                                            Riotur
4                                              None

                           Address                 City State Country  \
0  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP  Brazil
1        Rua Dr. Falcão Filho, 155            São Paulo    SP  Brazil
2               Av. Paulista, 2022            São Paulo    SP  Brazil
3                 Praça Pio X, 119       Rio de Janeiro    RJ  Brazil
4                     Qe 7 Bloco G             Brasília    DF  Brazil

  PostalCode               Phone                 Fax  \
0  12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566
1  01007-010  +55 (11) 3033-5446  +55 (11) 3033-4564
2  01310-200  +55 (11) 3055-3278  +55 (11) 3055-8131
3  20040-020  +55 (21) 2271-7000  +55 (21) 2271-7070
4  71020-677  +55 (61) 3363-5547  +55 (61) 3363-7855

                           Email  SupportRepId
0           luisg@embraer.com.br             3
1       eduardo@woodstock.com.br             4
2               alero@uol.com.br             5
3  roberto.almeida@riotur.gov.br             3
4       fernadaramos4@uol.com.br             4

### 4-How many Employees are working as Sales Agents

In [12]:
query5 = "SELECT * from employees where title like '%sales%'"
dataframe5 = pd.read_sql_query(query5, conn)
len(dataframe5.index)

4

### 5-To which countries the invoices were sent? Show the list of all countries

In [14]:
query6 = "SELECT distinct(BillingCountry) from invoices order by BillingCountry"
dataframe6 = pd.read_sql_query(query6, conn)
print(dataframe6)

    BillingCountry
0        Argentina
1        Australia
2          Austria
3          Belgium
4           Brazil
5           Canada
6            Chile
7   Czech Republic
8          Denmark
9          Finland
10          France
11         Germany
12         Hungary
13           India
14         Ireland
15           Italy
16     Netherlands
17          Norway
18          Poland
19        Portugal
20           Spain
21          Sweden
22             USA
23  United Kingdom

### 6-How many Invoices were there in 2010 and 2011? What are the respective total sales for each of those years?

In [15]:
query7 = "SELECT count(*), sum(Total) from invoices where invoicedate between datetime('2011-01-01 00:00:00') and datetime('2011-12-31 00:00:00')"
dataframe7 = pd.read_sql_query(query7, conn)
print(dataframe7)

   count(*)  sum(Total)
0        83      469.58

In [16]:
query8 = "SELECT count(*), sum(Total) from invoices where invoicedate between datetime('2010-01-01 00:00:00') and datetime('2010-12-31 00:00:00')"
dataframe8 = pd.read_sql_query(query8, conn)
print(dataframe8)

   count(*)  sum(Total)
0        83      481.45

### 7-How many Invoices were created for each country

In [17]:
query9 = "SELECT  billingcountry, count(billingcountry) as 'number of invoices' from invoices group by billingcountry "
dataframe9 = pd.read_sql_query(query9, conn)
print(dataframe9)

    BillingCountry  number of invoices
0        Argentina                   7
1        Australia                   7
2          Austria                   7
3          Belgium                   7
4           Brazil                  35
5           Canada                  56
6            Chile                   7
7   Czech Republic                  14
8          Denmark                   7
9          Finland                   7
10          France                  35
11         Germany                  28
12         Hungary                   7
13           India                  13
14         Ireland                   7
15           Italy                   7
16     Netherlands                   7
17          Norway                   7
18          Poland                   7
19        Portugal                  14
20           Spain                   7
21          Sweden                   7
22             USA                  91
23  United Kingdom                  21

### 8-How many tracks are there in each playlist?

In [18]:
query10 = "select playlistID, count(trackid) as 'number of tracks' from playlist_track group by playlistID"
dataframe10 = pd.read_sql_query(query10, conn)
print(dataframe10)

    PlaylistId  number of tracks
0            1              3290
1            3               213
2            5              1477
3            8              3290
4            9                 1
5           10               213
6           11                39
7           12                75
8           13                25
9           14                25
10          15                25
11          16                15
12          17                26
13          18                 1

### 9-How much in total did every Sales Agent make

In [19]:
query11 = "select e.employeeId, sum(i.total) as 'Total Sales' from employees as e inner join customers as c on e.employeeid = c.supportrepid inner join invoices as i on i.customerid = c.customerid group by e.employeeid "
dataframe11 = pd.read_sql_query(query11, conn)
print(dataframe11)

   EmployeeId  Total Sales
0           3       833.04
1           4       775.40
2           5       720.16

### 10-What is the sales agent that made the most sales in 2012

In [20]:
query12 = " select *, max(total) from (select e.*, sum(total) as 'Total' from employees as e inner join customers as c on e.employeeid = c.supportrepid inner join invoices as i on i.customerid = c.customerid where i.invoicedate between '2012-01-00' and '2012-12-31' group by e.employeeid)"
dataframe12 = pd.read_sql_query(query12, conn)
print(dataframe12)

   EmployeeId LastName FirstName                Title  ReportsTo  \
0           4     Park  Margaret  Sales Support Agent          2

             BirthDate             HireDate           Address     City State  \
0  1947-09-19 00:00:00  2003-05-03 00:00:00  683 10 Street SW  Calgary    AB

  Country PostalCode              Phone                Fax  \
0  Canada    T2P 5G3  +1 (403) 263-4423  +1 (403) 263-4289

                      Email  Total  max(total)
0  margaret@chinookcorp.com  197.2       197.2

### 11-Which sales agent made the most in sales overall?

In [21]:
query13 = " select *, max(total) from (select e.*, sum(total) as 'Total' from employees as e inner join customers as c on e.employeeid = c.supportrepid inner join invoices as i on i.customerid = c.customerid  group by e.employeeid)"
dataframe13 = pd.read_sql_query(query13, conn)
print(dataframe13)

   EmployeeId LastName FirstName                Title  ReportsTo  \
0           3  Peacock      Jane  Sales Support Agent          2

             BirthDate             HireDate        Address     City State  \
0  1973-08-29 00:00:00  2002-04-01 00:00:00  1111 6 Ave SW  Calgary    AB

  Country PostalCode              Phone                Fax  \
0  Canada    T2P 5M5  +1 (403) 262-3443  +1 (403) 262-6712

                  Email   Total  max(total)
0  jane@chinookcorp.com  833.04      833.04

### 12-What is the number of customers assigned to each sales agent

In [22]:
query14 = "select e.employeeid, count(c.customerid) as 'TotalCustomers' from employees as e inner join customers as c on e.employeeid = c.supportrepid group by e.employeeid"
dataframe14 = pd.read_sql_query(query14, conn)
print(dataframe14)

   EmployeeId  TotalCustomers
0           3              21
1           4              20
2           5              18

### 13-Which country's customers spent the most?

In [23]:
query15 = "select billingcountry, sum(total) as 'TotalSales'from invoices group by billingcountry order by totalsales desc"
dataframe15 = pd.read_sql_query(query15, conn)
print(dataframe15)

    BillingCountry  TotalSales
0              USA      523.06
1           Canada      303.96
2           France      195.10
3           Brazil      190.10
4          Germany      156.48
5   United Kingdom      112.86
6   Czech Republic       90.24
7         Portugal       77.24
8            India       75.26
9            Chile       46.62
10         Hungary       45.62
11         Ireland       45.62
12         Austria       42.62
13         Finland       41.62
14     Netherlands       40.62
15          Norway       39.62
16          Sweden       38.62
17       Argentina       37.62
18       Australia       37.62
19         Denmark       37.62
20           Italy       37.62
21          Poland       37.62
22         Belgium       37.62
23           Spain       37.62

### 14-Show the most purchased track of 2010

In [24]:
query16 = "select trackid, count(trackid) as count from invoice_items where invoiceid in (select invoiceid from invoices  where invoicedate between '2010-01-01' and '2010-12-31') group by trackid order by count desc"
dataframe16 = pd.read_sql_query(query16, conn)
print(dataframe16)

     TrackId  count
0          1      1
1          5      1
2          9      1
3         13      1
4         19      1
5         25      1
6         31      1
7         37      1
8         43      1
9         49      1
10        55      1
11        61      1
12        67      1
13        76      1
14        85      1
15        94      1
16       103      1
17       112      1
18       121      1
19       130      1
20       139      1
21       148      1
22       157      1
23       166      1
24       175      1
25       184      1
26       193      1
27       207      1
28       208      1
29       209      1
..       ...    ...
425     3314      1
426     3320      1
427     3326      1
428     3332      1
429     3338      1
430     3347      1
431     3356      1
432     3365      1
433     3374      1
434     3383      1
435     3392      1
436     3401      1
437     3410      1
438     3419      1
439     3428      1
440     3437      1
441     3446      1
442     3455      1
443     3464      1
444     3478      1
445     3479      1
446     3480      1
447     3482      1
448     3484      1
449     3486      1
450     3488      1
451     3490      1
452     3492      1
453     3496      1
454     3500      1

[455 rows x 2 columns]

### 15-Show the top 5 most purchased tracks ever

In [25]:
query17 = "select trackid, count(trackid) as count from invoice_items group by trackid order by count desc limit 5"
dataframe17 = pd.read_sql_query(query17, conn)
print(dataframe17)

   TrackId  count
0        2      2
1        8      2
2        9      2
3       20      2
4       32      2

### 16-What are the top 3 best selling artists

In [26]:
query18 = "select a.artistid, a.name ,sum(i.total) as total_sales from invoices as i inner join invoice_items using(invoiceid) inner join tracks as t using(trackid) inner join albums as a using(albumid) inner join artists as a using(artistid) group by a.artistid, a.name order by total_sales desc limit 3"
dataframe18 = pd.read_sql_query(query18, conn)
print(dataframe18)

   ArtistId         Name  total_sales
0        90  Iron Maiden      1233.54
1       150           U2       895.59
2       149         Lost       833.70

### 17-What is the most purchased Media Type

In [27]:
query19 = "select m.mediatypeid, m.name, count(it.trackid) as count from invoice_items as it inner join tracks as t using(trackid) inner join media_types as m using(mediatypeid) group by m.mediatypeid, m.name order by count desc limit 1 "
dataframe19 = pd.read_sql_query(query19, conn)
print(dataframe19)

   MediaTypeId             Name  count
0            1  MPEG audio file   1976

### 18-Show the number of tracks purchased in all invoices that contain more than one genre

In [28]:
query20 = "select it.invoiceid, count(it.trackid) as number_of_tracks, count(g.genreid) as number_of_genres from invoice_items as it inner join tracks as t using(trackid) inner join genres as g using(genreid) group by it.invoiceid having count(g.genreid) > 1 "
dataframe20 = pd.read_sql_query(query20, conn)
print(dataframe20)

     InvoiceId  number_of_tracks  number_of_genres
0            1                 2                 2
1            2                 4                 4
2            3                 6                 6
3            4                 9                 9
4            5                14                14
5            7                 2                 2
6            8                 2                 2
7            9                 4                 4
8           10                 6                 6
9           11                 9                 9
10          12                14                14
11          14                 2                 2
12          15                 2                 2
13          16                 4                 4
14          17                 6                 6
15          18                 9                 9
16          19                14                14
17          21                 2                 2
18          22                 2                 2
19          23                 4                 4
20          24                 6                 6
21          25                 9                 9
22          26                14                14
23          28                 2                 2
24          29                 2                 2
25          30                 4                 4
26          31                 6                 6
27          32                 9                 9
28          33                14                14
29          35                 2                 2
..         ...               ...               ...
323        378                 2                 2
324        379                 2                 2
325        380                 4                 4
326        381                 6                 6
327        382                 9                 9
328        383                14                14
329        385                 2                 2
330        386                 2                 2
331        387                 4                 4
332        388                 6                 6
333        389                 9                 9
334        390                14                14
335        392                 2                 2
336        393                 2                 2
337        394                 4                 4
338        395                 6                 6
339        396                 9                 9
340        397                14                14
341        399                 2                 2
342        400                 2                 2
343        401                 4                 4
344        402                 6                 6
345        403                 9                 9
346        404                14                14
347        406                 2                 2
348        407                 2                 2
349        408                 4                 4
350        409                 6                 6
351        410                 9                 9
352        411                14                14

[353 rows x 3 columns]